<div class="u-crumbs">
    <ul>
        <li>
            <a href="#/championships">Championships</a>
        </li>
        <li>
            <a ng-href="#/championships/{{Races.championship.id}}">{{Races.championship.name}}</a>
        </li>
        <li>
            <a ng-href="#/championships/{{Races.championship.id}}/races">Races</a>
        </li>
    </ul>
</div>
<h1>Race Calendar</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-xs-2">Date</th>
            <th class="col-xs-4">Track</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="r in Races.championship.races" ng-click="Races.onRaceClick(r)">
            <td class="col-xs-4">{{r.date}}</td>
            <td class="col-xs-2">{{r.track.name}}</td>
        </tr>
    </tbody>
</table>